.icon-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  .carousel-inner {
    height: 150px;
  }

  .carousel .item {
    height: 150px;
  }
  
  .item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 150px;
  }

  .carousel-caption {
    top: 0;
    bottom: auto;
}

@import '~@angular/cdk/overlay-prebuilt.css';