<section>

    <div class="row row-cols-1 row-cols-md-5 g-4 mt-5 mb-5">
        <div class="col">
            <div class="card">
                <img src="./assets/images/1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">MEAN</h5>
                    <p class="card-text">
                        This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </p>
                    <a routerLink="../courses/mean">
                        <button mat-raised-button color="primary" matTooltip="This is MEVN" matBadge="10">
                            MEAN Course
                        </button>
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="./assets/images/1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">MERN</h5>
                    <p class="card-text">
                        This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </p>
                    <a routerLink="../courses/mern">
                        <button mat-raised-button color="primary" matTooltip="This is MERN" matBadge="3">
                            MERN Course
                        </button>
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="./assets/images/1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">MEVN</h5>
                    <p class="card-text">
                        This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </p>
                    <a routerLink="../courses/mevn">
                        <button mat-raised-button color="primary" matTooltip="This is MEVN" matBadge="3">
                            MEVN Course
                        </button>
                    </a>
                </div>
            </div>
        </div>

    </div>

</section>